html {
  box-sizing: border-box;
  font-size: var(--fsz);
  font-family: var(--ff);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  margin-top: 80px;
  width: 900px;
}

img {
  width: 40px;
  height: 40px;
}

body {
  background-color: #ffffff;
  //background-image: url('');
  //background-attachment: fixed;
  //background-size: cover;
}