.result {
  display: flex;
  justify-content: center;
  align-items: center;
	text-align: center;
	width: 200px;
	height: 85px;
	background-color: rgb(172, 140, 71);
	border-radius: 5px;
	margin-left: 5px;
	margin-top: 8px;
	padding-right: 40px;
	ul > li {
		list-style-type: none;
	}
}